<p>
  Hola
  {{name}},
  <br />
  Ha solicitado el cambio de contraseña de su cuenta de ReservAndo:
</p>
<p>Email: <strong>{{Mail}}</strong></p>

<p>
  Para finalizar su cambio de contraseña debe introducir la nueva contraseña
  junto con su código de cambio de contraseña en el
  <a href='{{url}}'>siguiente enlace</a>
  o introducir el código y su nueva contraseña directamente en la página desde
  la que envió la petición.
</p>

<p>
  Si usted no ha solicitado el cambio de contraseña puede ignorar este email y
  eliminarlo
</p>

<p>
  Muchas gracias
</p>

<p>
  Administración ReservAndo
  <br />
  Telf: 123 456 789
  <br />
  Mail: administracion@reservando.com
  <br />
  <strong>E-MAIL: Correo electrónico</strong>
  <br />
  <strong>AVISO LEGAL:</strong>
  Este mensaje y sus archivos adjuntos van dirigidos exclusivamente a su
  destinatario, pudiendo contener información confidencial sometida a secreto
  profesional. No está permitida su comunicación, reproducción o distribución
  sin la autorización expresa de ReservAndo. Si usted no es el
  destinatario final, por favor elimínelo e infórmenos por esta vía.
  <br/>
</p>